{template 'common/header'}
	<link href="../addons/zofui_groupshop/template/web/css/common.css" rel="stylesheet">
	
	
<ul class="page_top">
	<a href="{php echo $this->createWebUrl('user',array('op'=>'list','status'=>0))}">
		<li class="top_btn {if $_GPC['status'] == 0}activity_bottom{/if}">所有会员</li>
	</a>
	{if $this->module['config']['isverify'] == 1}
	<a href="{php echo $this->createWebUrl('user',array('op'=>'list','status'=>1))}">
		<li class="top_btn {if $_GPC['status'] == 1}activity_bottom{/if}">等待审核</li>
	</a>
	{/if}
</ul>

<div class="page_body">
	{if $op == 'add' || $op == 'edit'}
	<div class="addgood_body">
		<form method="post" action="">	
			<div class="input_item item_cell_box good_rule" {if $op == 'edit'}style="display:none"{/if}>
				<div class="input_title">分类级数</div>
				<div class="input_form item_cell_flex checkbox good_rule_type">
					<label><input type="radio" name="sorttype" value="1"  {if $info['class'] == 1}checked="checked"{/if}> 一级分类</label>
					<label><input type="radio" name="sorttype" value="2"  {if $info['class'] == 2}checked="checked"{/if}> 二级分类</label>		
				</div>
			</div>
			
			<div class="sort_classone" style="display:block">
				<div class="input_item item_cell_box">
					<div class="input_title">分类名称</div>
					<div class="input_form item_cell_flex">
						<span class="input_box input_box_300">
							<input type="text" class="input_input" name="sortname" value="{$info['name']}">
						</span>
						<p class="font_13px_999"> 填入文字</p>
					</div>
				</div>		
				
				<div class="input_item item_cell_box">
					<div class="input_title">分类排序</div>
					<div class="input_form item_cell_flex">
						<span class="input_box input_box_300">
							<input type="text" class="input_input" name="sortorder" value="{$info['order']}">
						</span>
						<p class="font_13px_999"> 填入正整数，数字越大越排前面</p>			
					</div>
				</div>
				
			</div>
			
			<div class="sort_classtwo" {if $op == 'add' || ($op == 'edit' && $info['class'] == 1)}style="display:none"{/if}>
				<div class="input_item item_cell_box good_rule">
					<div class="input_title">所属一级分类</div>
					<div class="input_form item_cell_flex checkbox good_rule_type sort_tosort">
						{loop $allsort $list}
							{if $list['class'] == 1}
								<label>
									<input type="radio" name="upsort" value="{$list['id']}" {if $info['parentid'] == $list['id']}checked="checked"{/if}> {$list['name']}
								</label>
							{/if}
						{/loop}
					</div>
				</div>
				
			</div>	
			<div class="sort_classtwo" {if $op == 'add' || ($op == 'edit' && $info['class'] == 1)}style="display:none"{/if}>
				<div class="input_item item_cell_box good_rule good_pic headimg_box">
					<div class="input_title">分类图片</div>
					<div class="input_form item_cell_flex checkbox">
						{php echo  WebCommon::tpl_form_field_image('pic',$info['pic'])}
					</div>
				</div>
			</div>
			<div class="input_item item_cell_box">
				<div class="input_title"></div>
				<div class="input_form item_cell_flex">
					<input class="btn_44b549" value="立即保存" type="submit" id="addsort" name="addsort">	
					<input type="hidden" name="token" value="{$_W['token']}" />
				</div>
			</div>	
		</form>	
	</div>
	
{elseif $op == 'list'}
	
	<div class="list_body">
		<div class="list_table sort_list">
<form action="" method="post">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="col-sm-1">
								<label class="my_checkbox">
								<input class="" type="checkbox" name="" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});"> 全选/取消
								</label>
							</th>
							<th class="col-sm-1">昵称</th>							
							<th class="col-sm-1">头像</th>
							{if $this->module['config']['isverify'] == 1}
								<th class="col-sm-1">提交信息</th>
								<th class="col-sm-1">状态</th>
								<th class="col-sm-1">操作</th>
							{/if}
							
						</tr>
					</thead>
					<tbody>
						{loop $list $li}
						<tr>
							<td class="">
								<label class="my_checkbox">
									<input type="checkbox" name="checkid[]" value="{$li['openid']}" class=""> {$li['id']}
								</label>
							</td>
							<td>
								{$li['nickname']}
							</td>							
							<td>
								<img src="{$li['headimgurl']}" height="40px">
							</td>
							{if $this->module['config']['isverify'] == 1}
								<td>
									{if !empty( $li['params'] )}
										<p>姓名:{$li['params']['name']}</p>
										<p>电话:{$li['params']['tel']}</p>
										<p>地址:{$li['params']['street']}</p>
									{/if}
								</td>
								<td>
									{if $li['verify'] == 0}未提交审核{elseif $li['verify'] == 1}待审核{elseif $li['verify'] == 2}已通过审核{/if}
								</td>
								<td>
									{if $li['verify'] == 1}
									<a class="a_href" href="{php echo $this->createWebUrl('user',array('op'=>'pass','id'=>$li['openid']))}">通过审核</a>
									{/if}
									{if $li['verify'] == 2}
									<a class="a_href" href="{php echo $this->createWebUrl('user',array('op'=>'nopass','id'=>$li['openid']))}" >设为未提交</a>
									{/if}	
								</td>
							{/if}

						</tr>
						{/loop}						
					</tbody>
				</table>		
			
		</div>		
		<div class="list_bottom item_cell_box sort_list">
			{if $this->module['config']['isverify'] == 1}
			<div class="item_cell_flex">
				<label class="">
					<input class="" type="checkbox" name="" onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});"> 全选/取消
				</label>&nbsp;&nbsp;&nbsp;
				<!-- <input type="submit" name="delete" class="btn_44b549" value="删除所选" onclick="return confirm('删除后不可恢复，确定要删除吗？');"> -->
				<input type="submit" name="suborder" class="btn_44b549" value="通过审核">
				<input name="token" type="hidden" value="{$_W['token']}" />
			</div>
			{/if}
			<div class="">{$pager}</div>
		</div>
</form>			
	</div>
	
{/if}
	
</div>




	<script src="../addons/zofui_groupshop/template/web/js/fsjs.js"></script>
{template 'common/footer'}